html {
	scroll-behavior: smooth;
}
html, body {
	height: 100%;
	overflow-y: auto;
  }
/* Body Styling */
body {
	background-color: #202227; /* Dark background */
	color: #fff; /* Default text color for contrast */
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #282a2f;
	border-radius: 24px;
}


/* Dark Modal Styling */
.dark-modal .ant-modal-content {
    background-color: #1E1E1E !important; /* Dark background */
    color: white !important; /* White text */
    border-radius: 10px;
    border: 1px solid #333;
}

/* Title Color */
.dark-modal .ant-modal-title {
    color: white !important;
}

/* Footer (Buttons) Styling */
.dark-modal .ant-modal-footer {
    border-top: 1px solid #333 !important;
}
.dark-row {
	background-color: #1f1f1f !important;
	color: #fff;
  }
  
  .dark-row:hover {
	background-color: #333 !important;
  }