html {
	scroll-behavior: smooth;
}
html, body {
	height: 100%;
	overflow-y: auto;
  }
/* Body Styling */
body {
	background-color: #202227; /* Dark background */
	color: #fff; /* Default text color for contrast */
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #282a2f;
	border-radius: 24px;
}


/* Dark Modal Styling */
.dark-modal .ant-modal-content {
    background-color: #1E1E1E !important; /* Dark background */
    color: white !important; /* White text */
    border-radius: 10px;
    border: 1px solid #333;
}

/* Title Color */
.dark-modal .ant-modal-title {
    color: white !important;
}

/* Footer (Buttons) Styling */
.dark-modal .ant-modal-footer {
    border-top: 1px solid #333 !important;
}
.dark-row {
	background-color: #1f1f1f !important;
	color: #fff;
  }
  
  .dark-row:hover {
	background-color: #333 !important;
  }

  .blog-content {
	padding: 10px;
  }
  
  /* Headings (h1-h6) */
  .blog-content h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
  }
  
  .blog-content h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.75rem;
  }
  
  .blog-content h3 {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
  }
  
  .blog-content h4, h5, h6 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
  }
  
  /* Unordered List */
  .blog-content ul {
	padding-left: 40px;
	list-style-type: disc;
	margin-bottom: 1rem;
  }
  
  /* Ordered List */
  .blog-content ol {
	padding-left: 40px;
	list-style-type: decimal;
	margin-bottom: 1rem;
  }
  
  /* List Items */
  .blog-content li {
	margin-bottom: 0.5rem;
  }
  
  /* Paragraphs */
  .blog-content p {
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.6;
  }
  
  /* Images */
  .blog-content img {
	width: 100%;
	border-radius: 8px;
	margin-top: 1rem;
  }
.blog-content em {
	font-style: italic;
}  